{{!
    Landing frontpage layout.

    Required context:
    * sitename
    * output
    * bodyattributes
}}
{{> theme_spacechild/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}

    <div id="page-wrapper" class="rui-landing-page d-print-block">

        {{{ output.standard_top_of_body_html }}}

        <div id="page" class="container-fluid d-print-block">
            <div id="page-content" class="row d-print-block">
                <div id="region-main-box" class="col-12">
                    <section id="region-main" aria-label="{{#str}}content{{/str}}">
                        {{{ output.main_content }}}
                    </section>
                </div>
            </div>
        </div>
        {{{ output.standard_after_main_region_html }}}

    </div>
    {{{ output.standard_end_of_body_html }}}
</body>

</html>
{{#js}}
    M.util.js_pending('theme_space/loader');
    require(['theme_space/loader'], function() {
    M.util.js_complete('theme_space/loader');
    });
{{/js}}
