/**
 * This file contains the styles required to make the footer sticky.
 */

html,
body {
    height: 100%;
}

/* Active sticky footer state */
.hasstickyfooter .stickyfooter {
    bottom: 10px;
}

.stickyfooter {
    width: max-content;
    max-width: calc(100% - 40px);

    @include media-breakpoint-up(md) {
        height: $stickyfooter-height;
        bottom: calc(#{$stickyfooter-height} * -1);
        left: 20px;
        right: 20px;
    }

    @include media-breakpoint-between(xs, sm) {
        max-width: calc(100% - 32px);
        min-width: calc(100% - 32px);
        left: 16px;
        right: 16px;
        bottom: -100%;

        .disabled {
            display: none!important;
        }
    }

    display: flex;
    flex-wrap: wrap;

    transition: all 350ms ease;

    background-color: $dm-gray-100;
    color: $dm-body-color;
    border-top: none !important;

    border-radius: $btn-border-radius;
    box-shadow: $box-shadow-md;
    z-index: $zindex-fixed + 200;

    #page-mod-assign-grading {
        padding: 0 20px!important;
    }

    @include media-breakpoint-up(lg) {

        .drawer-open-index--open &,
        .drawer-open-left & {
            left: $drawer-width + $drawer-offscreen-gutter + 10px;
        }
    }

    div {
        margin-top: 0 !important;
    }

    label {
        margin-bottom: 0;
        font-size: $font-size-sm;
        color: $dm-body-color;
    }

    select {
        margin-top: 0 !important;
        margin-left: .5rem;
        padding: 2px 30px 2px 10px;
        height: 30px;
        font-size: $font-size-xs;
        background-color: $dm-gray-400;
        border-color: $dm-gray-300;
        color: $dm-body-color;
    }

    .col-auto {
        padding: 0 !important;
    }

    .col:empty {
        display: none;
    }

    .pagination, .comment-paging {
        margin: 0 3px;
    }

    .btn {
        padding: 5px 9px!important;
        display: inline-flex!important;
    }
}

@include media-breakpoint-up(sm) {
    #page-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        #page {
            &:not(.drawers) {
                flex: 1 0 auto;
            }

            display: flex;
            flex-direction: column;

            #page-content {
                flex: 1 0 auto;
            }
        }

        #page-footer {
            flex-shrink: 0;
        }
    }
}

@include media-breakpoint-down(sm) {
    #page-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

        #page {
            &:not(.drawers) {
                flex: 1 0 auto;
            }

            display: flex;
            flex-direction: column;
        }
    }

    .custom-control-label--text {
        font-size: $font-size-xs;
    }

    .bulkediting--close {
        position: absolute;
        top: -50px;
        right: 0;
    }
}

.path-grade {
    .sticky-footer {
        padding: 9px !important;

        .btn-primary {
            padding: .6rem 1rem;
        }
    }
}

.path-grade-edit #sticky-footer {
    padding: 10px!important;
}

#sticky-footer .col+.col-auto {
    margin-left: 10px;
}