<div class="sc-modal" id="sc-signup-modal" data-sc-modal="signup" aria-hidden="true" role="dialog" aria-modal="true" aria-label="Inscription">
  <div class="sc-modal__overlay" data-sc-modal-close></div>
  <div class="sc-modal__dialog" role="document">
    <div class="sc-modal__bar">
      <div class="sc-modal__title">Inscription</div>
      <button class="sc-modal__close" type="button" aria-label="Fermer" data-sc-modal-close>&times;</button>
    </div>
    <div class="sc-modal__frame">
      <iframe data-src="{{{signupurl}}}" title="Formulaire d'inscription" loading="lazy"></iframe>
    </div>
  </div>
</div>
